// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

$primary: #1e4794;
$champagne: #f8f5ef;
$champagneDark: #edeae4;
$champagneDarkText: #555;


.btn {
  color: $primary;
  border-color: $primary;
}

.crop-16-9{ /*defines the 16/9 ratio for the image*/
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

.crop-9-16{ /*defines the 9/16 ratio for the image*/
  height: 0;
  padding-bottom: 177.77%;
  position: relative;
  width: 100%;
}

.cropped{
    height: 100%;
    left: 0;
    position:relative;
    top: 0;
    width: 100%;
}

.article-title{
  text-decoration: none;
  color: #000;
  font-size: 33px;
  font-weight: bold;
}

.full-wide{
  width: 100%;
}

.serif{
  font-family:  serif, guardian-text-egyptian, Georgia,"Times New Roman";
}

.body{
  font-family: 'Graphik Web','Helvetica Neue',Helvetica,Arial,sans-serif;
}


.border-left{
  border-left: 1px solid #ddd;
  padding-left: 10px;
}

@media (min-width: 576px) {
  .left-border{
    border-left: 1px solid #ddd;
    padding-left: 20px;
  }
}

@media (min-width: 992px) {
  .left-border-big{
    border-left: 1px solid #ddd;
    padding-left: 20px;
  }
}

@media (min-width: 575px){
  .minimizable{
    font-size: small;
  }
}

@media (min-width: 575px){

  .article-title-minor{
    text-decoration: none;
    color: #000;
    font-size: 25px;
    font-weight: bold;
  }
}
@media (max-width: 575px){

  .article-title-minor{
    text-decoration: none;
    color: #000;
    font-size: 33px;
    font-weight: bold;
  }
}

.river-heading{
  text-decoration: none;
  color: #000;
  font-size: 33px;
  font-weight: bold;
}

.scrollable{
  overfloy-x: auto;
  white-space: nowrap;
}

.river-submenu{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.champagne{
  background-color: $champagne;
}
.champagneDark{
  background-color: $champagneDark;
}

#back-to-top{
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: $champagneDarkText;
  font-size: 1.2rem;
}

.header-unordered-list-href{
  list-style-type: none;
  padding-right: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.footer-list-item{
  text-decoration: none;
  color: $primary;
  font-size: 20px;
  padding-top: 20px;
}

.href-footer-end{
  color: $primary;

}