// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

$primary: #1d387f;
$champagne: #f8f5ef;
$champagneDark: #edeae4;
$champagneDarkText: #555;
$lightGrey: #f1f1f1;


.btn {
  color: $primary;
  border-color: $primary;
}

.crop-16-9{ /*defines the 16/9 ratio for the image*/
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

.crop-9-16{ /*defines the 9/16 ratio for the image*/
  height: 0;
  padding-bottom: 177.77%;
  position: relative;
  width: 100%;
}

.cropped{
    height: 100%;
    left: 0;
    position:relative;
    top: 0;
    width: 100%;
}

.article-title{
  text-decoration: none;
  color: #000;
  font-size: 33px;
  font-weight: bold;
}

.full-wide{
  width: 100%;
}

.serif{
  font-family:  serif, guardian-text-egyptian, Georgia,"Times New Roman";
}

.body{
  font-family: 'Graphik Web','Helvetica Neue',Helvetica,Arial,sans-serif;
}


.border-left{
  border-left: 1px solid #ddd;
  padding-left: 10px;
}

@media (min-width: 576px) {
  .left-border{
    border-left: 1px solid #ddd;
    padding-left: 20px;
  }
}

@media (min-width: 992px) {
  .left-border-big{
    border-left: 1px solid #ddd;
    padding-left: 20px;
  }
}

@media (min-width: 575px){
  .minimizable{
    font-size: small;
  }
}

@media (min-width: 575px){

  .article-title-minor{
    text-decoration: none;
    color: #000;
    font-size: 25px;
    font-weight: bold;
  }
}
@media (max-width: 575px){

  .article-title-minor{
    text-decoration: none;
    color: #000;
    font-size: 33px;
    font-weight: bold;
  }
}

.river-heading{
  text-decoration: none;
  color: #000;
  font-size: 33px;
  font-weight: bold;
}

.scrollable{
  overfloy-x: auto;
  white-space: nowrap;
}

.river-submenu{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.champagne{
  background-color: $champagne;
}
.champagneDark{
  background-color: $champagneDark;
}

#back-to-top{
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: $champagneDarkText;
  font-size: 1.2rem;
}

.header-unordered-list-href{
  list-style-type: none;
  padding-right: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.footer-list-item{
  text-decoration: none;
  color: $primary;
  font-size: 20px;
  padding-top: 20px;
}

.href-footer-end{
  color: $primary;

}

#top-nav{
  background-color: $lightGrey;
  border-bottom: 1px solid #ddd;
}

.divider{
  margin-left: 15px;
  padding-right: 15px;
  border-left: 1px solid #222;
}

.cityDropdown{
  position: absolute;
  top: 35px;
  left: 0px;


  transform: translateY(0.5rem);
  visibility: hidden;
  opacity: 0;
  column-count: 1;
}


.show {
  transform: translateY(0rem);
  visibility: visible;
  opacity: 1;
}

@media (min-width: 480px) {
  #sign-in-logo{
    display: none;
  }
}

@media (max-width: 480px) {
  #sign-in-text{
    display: none;
  }
}



@media (min-width:480px) {
  .cityDropdown{
    line-height: 2.4;
    column-count: 3;
    overflow-y: scroll;
  }

}

@media (min-width: 1024px) {
  .cityDropdown{

    line-height: 2.4;
    column-count: 4;
    overflow-y: scroll;
  }

}


@media (min-width: 480px){
  .wide-small-auto{
    width: auto;
  }

  .wide-small-100{
    width: 100%;
  }
}

#branding-holder{
  padding: 2px 8px 0;
  background: repeating-linear-gradient(
      -45deg,
      $primary,
      $primary 7px,
      rgb(50, 70, 141) 1px,
      rgb(50, 70, 141) 8px
  );
}

#branding-svg{
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 36px;
}

.promo-title{
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-underline: none;
  font-size: 0.8rem;
}

.market-links-dropdown-trigger{
  background-color: white;
  color: black;
  width: 50px;
  height: 50px;
}

.market-links-dropdown-trigger::before{
  content: "\F62A";
  font-family: bootstrap-icons;
  font-size: 1.5rem;
  color: black;
}

.collapsed::before{
  content: "\F479";
  font-family: bootstrap-icons;
  font-size: 1.5rem;
  color: black;
}

.market-search::before{
  content: "\F62A";
  font-family: bootstrap-icons;
  font-size: 1.5rem;
  color: black;
}

.market-search-collapsed::before{
  content: "\F52A";
  font-family: bootstrap-icons;
  font-size: 1.5rem;
  color: black;
}

@media (min-width: 1200px) {
  market-links-desktop{
    display: flex;
    max-width: 100%;
  }
}

#market-offer-button{
    background-color: $primary;
    color: white;
    border-radius: 2px;
    padding: 5px;
    font-size: 0.8rem;
    padding: 4px 16px;
    margin-left: 16px;
    margin-right: 16px;
}

@media (min-width: 480px) {
  .wide-small-auto{
    width: auto;
  }
}



#promo {

  max-width: fit-content;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}



#suboffer {
  flex: 1 1 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.desktop-menu-item{
    text-decoration: none;
    color: black;
    font-size: 0.7rem;
    padding: 2px 8px;

}

#link-bar{
  position: relative;
}

@media (min-width: 1200px) {
  .wide-xl-100{
    wide: 100%;
  }
}

.market-links-dropdown{
  position: absolute;
  top: calc(50px + 60px + 1px); // 50px is the height of the top nav, 64px is the height of the promo, 1px is the border


  transform: translateY(0.5rem);
  visibility: hidden;
  opacity: 0;
  display: none;

  width: 100vw;
  height: fit-content;
  background-color: $lightGrey;

}

@media (max-width: 760px) {
  .market-links-dropdown{
   height: 200vh;
  }

}



@media (max-width: 1200px) {
  .market-links-dropdown{
    top: calc(50px  + 1px); // 50px is the height of the top nav, 64px is the height of the promo, 1px is the border
  }
}

@media (max-width: 575px) {
  .market-links-dropdown{
    top: calc(50px + 35px + 1px); // 50px is the height of the top nav, 64px is the height of the promo, 1px is the border
  }
}


.showMarketLinksDropdown{
  transform: translateY(0rem);
  visibility: visible;
  opacity: 1;
  z-index: 1000;
  display: block;
}


.collapsible {
  background-color: $lightGrey;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 0.9rem;
  font-weight: bold;


}

.active, .collapsible:hover {

}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
}

.contentActive{
    max-height: 1000px;
    transition: max-height 0.2s ease-in;
}



.market-link-href{
  text-decoration: none;
  color: black;
  font-size: 0.7rem;
  padding: 2px 8px;
}